.bar {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.logo {
    font: 700 1rem 'Roboto', sans-serif;
}

.navigation ul {
    display: flex;
    align-items: center;
    font: 400 1rem 'Roboto', sans-serif;
    text-transform: uppercase;
}

.navigation ul li {
    list-style: none;
    cursor: pointer;
    margin-left: 2rem;
}

.navigation ul li a {
    padding: 0.5rem 1rem;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
 }